{% if bucketlists %}
{% for bucketlist in bucketlists %}
<div id="edit-bucketlist-{{bucketlist.id}}-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-text-center">
        <a href="" class="uk-modal-close uk-close"></a>
        <h1 class="bucketlist-panel-title">Edit {{bucketlist.name}}</h1>
        <div>
            <form class="uk-form uk-form-stacked" method="POST" id="edit-bucketlist-{{bucketlist.id}}-form" enctype="multipart/form-data">
                <fieldset data-uk-margin>
                    <legend></legend>
                    <div class="uk-margin-large">
                        <div class="uk-form-row">
                            <label class="uk-form-label">Name</label>
                            <div class="uk-form-controls">
                                <input type="text" name="name" id="name"
                                    value="{{bucketlist.name}}" class="uk-form-width-large">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Description</label>
                            <textarea name="description" id="description"
                                class="uk-form-width-large" rows="5">{{bucketlist.description}}</textarea>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id" value="{{bucketlist.id}}" readonly>
                    <legend></legend>
                    <div class="uk-form-row">
                        <a href="#" class="uk-button uk-button-success" onclick="editBucketlist({{bucketlist.id}})">Save Changes</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
