{% if bucketlists %}
{% for bucketlist in bucketlists %}
{% if bucketlist.items.all %}
{% for item in bucketlist.items.all %}
<div id="edit-bucketlist-item-{{item.id}}-modal" class="uk-modal">
    <div class="uk-modal-dialog uk-text-center">
        <a href="" class="uk-modal-close uk-close"></a>
        <h1 class="bucketlist-panel-title">Edit {{item.name}}</h1>
        <div>
            <form class="uk-form uk-form-stacked" method="POST" id="edit-bucketlist-item-{{item.id}}-form" enctype="multipart/form-data">
                <fieldset data-uk-margin>
                    <legend></legend>
                    <div class="uk-margin-large">
                        <div class="uk-form-row">
                            <label class="uk-form-label">Name</label>
                            <div class="uk-form-controls">
                                <input type="text" name="name" id="name"
                                    value="{{item.name}}" class="uk-form-width-large">
                            </div>
                        </div>
                        <div class="uk-form-row">
                            <label class="uk-form-label">Description</label>
                            <textarea name="description" id="description"
                                class="uk-form-width-large" rows="5">{{item.description}}</textarea>
                        </div>
                        <div class="uk-form-row">
                            <input type="checkbox" name="done" id="done" {{item.done|yesno:"checked,"}}> Done</label>
                        </div>
                    </div>
                    <input type="hidden" name="id" id="id" value="{{item.id}}" readonly>
                    <legend></legend>
                    <div class="uk-form-row">
                        <a href="#" class="uk-button uk-button-success" onclick="editBucketlistItem({{item.id}})">Save Changes</a>
                    </div>
                </fieldset>
            </form>
            <form id="delete-bucketlist-item-{{bucketlist.id}}-form" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{item.id}}">
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
